
.popup::before{
  /* 아무것도 작성하지 않아도 comtent:"";코드필수 */
  content: "X";
  width: 50px;
}
.popup {
  background: #E8E8E8;
  /* text-align: center; */
  padding: 20px;
  color: #000;
  display: flex;
  font-size: 0.64375rem;
  line-height: 0.9375rem; /* 145.631% */
  justify-content: space-between;
  padding-left: 20px;padding-right: 20px;
}
.popup::after {
  content: "X";
  font-size: 20px;
  cursor: pointer;
}
.top-bar {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
}
.menu01 {

  display: flex;
  width: 388px;
  justify-content: flex-start;
}
.menu01-ul {
  display: flex; gap: 16px;
  height: 100%;
  align-items: center;
}
.m01-item {
  color: #000;
  font-size: 11px;
  line-height: 15px;
}
.logo-box {
  display: flex;
}
.user-box {
  width: 388px;
  display: flex;
  justify-content: flex-end;
  /* align-items: stretch; */
}
.user-box-ul {
  display: flex; gap: 16px;
  align-items: center;
  /* height: auto; 100% */
}
.user-item {
  color: #000;
  font-size: 11px;
  line-height: 15px;
}
