header {
border: 1px solid red;
}
/* 상단바 */
.top-bar {
border: 1px solid orange;
background: linear-gradient(90deg,#f7f7f7 0%, #9fc5df 62%, #82e6ed 100% );
display: flex;
padding-left: 100px; padding-right: 100px;
justify-content: space-between;
height: 116px;
transition: 0.3s;
}
.top-bar:hover{
  background: linear-gradient(90deg,#f7f7f7 0%, #9fd6df 62%, #82edd8 100% );
}
.logo-box {
/* border: 1px solid green; */
display: flex;
align-items: center;
}
.logo-box img{
  width: 220px;
}
.menu01{
/* border: 1px solid green; */
}
.menu01>ul{
  display: flex; gap: 50px;
  height: 100%; align-items: center;
}
.m01-item:hover>a {
  text-decoration: underline;
}
.m01-item a {
  font-size: 15px;
  font-weight: 700;
  color: #333;
}
.user-box{
/* border: 1px solid green; 선*/
align-self: center;
}
/* 유저박스 안에 있는 ul들 */
.user-box>ul {
  display: flex; align-items: center;
  gap: 16px;
}
.user-item01 a {
font-size: 27px;
font-weight: 700;
}
.user-item02{
  /* 여기 쉬는 쉬는 시간에 보기 */
  border: 1px solid #333;
  padding: 8px 16px;
  border-radius: 50px;
  transition: 0.3s;
}
.user-item02:hover{
  border: bisque;
  border: 1px solid sandybrown;
  color: sandybrown;
}
.user-item02 a{
font-size: 15px;
}
/* 점세개 */
.user-item03 a{
  display: flex; align-items: center;
  font-size: 15px;
}

