header {
border: 1px solid red;
}
.popup {
  border: 1px solid orange;
  padding: 0.75rem 0.625rem;
  background: #E8E8E8;
  text-align: center;
}
.top-bar {
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu01 {
  display: flex;
  justify-content: flex-start;
  gap: 16px;

}
.user-box{
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
